@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRUD LIVRARIA</h1>
    <p class="lead">Aqui temos um CRUD de uma Livraria feito em ASP.NET Framework com Entity Framework.</p>
    <p class="lead">Para acessar clique em Lista de Livros no menu acima.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contato</h2>
        <p>
            Qualquer duvida entre em contato comigo pelo Whatsapp (31) 99969-9400.
        </p>
    </div>
</div>